
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family:;
}
section.header, section  {
	margin-top:2vh;
	width:100%;
}
section.header p, section.header h1{
	text-align:center;
	margin:;
	width:100%;
	padding:1vw 3vw;
	border:;	
}
section.header a{
	text-decoration:none;
}
section  .header2   {
	text-align:center;
}
section  .header2  img{
	height:25px;
}

.briefcase:before, .briefcase:after {
   background-color: sienna;
}
.graduate:before, .graduate:after{
	background-color: LightSeaGreen;
}
.tools-kit:before, .tools-kit:after{
	background-color:orangered;
}
.medals:before, .medals:after{
	background-color: gold;
}
.links:before, .links:after{
	background-color:slategrey;
}
.infos:before, .infos:after{
	background-color:steelblue;
}
section .header2:before, section .header2:after{
	display: inline-block;
    margin: 2vw 1vw;
    height: .5vw;
    content: " ";
    text-shadow: none;
    width: 43%;
}
/*
section .header2:after{
	display: inline-block;
    margin: 2vw 1vw;
    height: .5vw;
    content: " ";
    text-shadow: none;   
    width: 43%;
}
*/
section header h2{
	text-align:center;
	margin:1vh;	
}

h2, h3, strong {
	font-weight:normal;
}

section article h3, section article p{
	padding:1vw 3vw;
}
#link article p{
	text-align:center;
	padding:;
	margin:3vw;

}
#link a{
	text-decoration:none;
	padding: 1.5vw 3vw;
	border:none;
	color:white;		
}
#link a.git{
	background-color:#333;
}
#link a.face{
	background-color:#3b5998;
}
#link a.indeed {
	background-color:#ff6600;
}
#link a.linked {
	background-color:#00a0dc;
}
#last{
padding:2vw;
text-align:center;

}
@media only screen and (orientation: landscape) {
  body {
  	max-width:768px;
    margin: 0 auto 2vw;
  }
  #expe .container-profs {
  	display:flex;
  }
  #expe .container-profs article {
  	width:50%;
  }
  #cert .container-certs {
  	display: flex;
  	flex-flow:row wrap;
  	align-items:center;
  	justify-content:center;
  	
  }
  #cert .container-certs article {
  	width: 50%;
  }
  section .header2:before, section .header2:after{
  	margin: 1.25vw 1vw;
  	height: .25vw;
  }
  section .header2 img{height:3vw;}
}